@page "/MTG/Harbour"
@using TCG_Citadel.Services.MTG
@using TCG_Citadel.Services.MTG.Models
@using Data.MTG
@using Data.MTG.Models
@inject IMtgUpdaterService service



<table>
    <thead>
        <tr>
            <th></th>
            <th>Message</th>
            <th>Sets Added</th>
            <th>Sets that were missing</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button @onclick="service.UpdateSetsTable">Populate Sets Table</button></td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>

        <tr>
            <td><button @onclick="service.UpdateCardsTable">Populate Cards Table</button></td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
    </tbody>
</table>
