@page "/"

<h3>Index</h3>

<ul>
    <li>Fully implement roles etc</li>
    <li>
        Search for card/s by ???
        <ul>
            <li>Search collected cards</li>
            <li>Search everything</li>
        </ul>
    </li>
    <li><s>Move foil and non-foils in the same page rather than different</s></li>
    <li>Fix Filters</li>
    <li>Export needed cards to excel sheet</li>
    <li>Store decks</li>
    <li>Deck storing</li>
    <li>Create specific collection, e.g. all zombies</li>
    <li>
        Deck building
        <ul>
            <li>filter cards by cost, effect, set, name etc</li>
        </ul>
    </li>
    <li>
        Custom Draft simulator
        <ul>
            <li>On multiple phones, so everyone can draft on the day</li>
        </ul>
    </li>
    <li>
        Commander deck helper
        <ul>
            <li>Pick a color, then it will generate a list from what is in the collection that you can use</li>
        </ul>
    </li>
</ul>

@code {

}
